{% extends 'base.html' %}

{% block content %}

<h5>Grafy</h5>

    <div class="row">
        <span class="link">
            <a class="nav-link" href="{% url 'grafy' %}">Grafy</a>
        </span>
    </div>

    <div class="row">
        <div class="col-6 vycentruj">
            <span>
                <br>
                Blockchain assets:
                <br>
            </span>
        </div>
    </div>

    <div class="row">

        <div class="col-6 vycentruj">
            <section class="center">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Rozdělení</th>
                        <th>Množství</th>
                        <th>Dolarová hodnota</th>
                        <th>Procenta</th>
                    </tr>
                    </thead>

                    <tbody>
                       {% block content_grafy_tabulky_1 %}
                            {% for value in blockchain %}
                                <tr>
                                    <td>
                                        {{ value.name }}
                                    </td>
                                    <td>
                                        {{ value.amount }}
                                    </td>
                                    <td>
                                        {{ value.dollar_value }}
                                    </td>
                                    <td>
                                        0
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endblock %}
                    </tbody>
                </table>

            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-6 vycentruj">
            <span>
                <br>
                Cex assets:
                <br>
            </span>
        </div>
    </div>

    <div class="row">

        <div class="col-6 vycentruj">
            <section class="center">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Rozdělení</th>
                        <th>Množství</th>
                        <th>Dolarová hodnota</th>
                        <th>Procenta</th>
                    </tr>
                    </thead>

                    <tbody>
                       {% block content_grafy_tabulky_2 %}
                            {% for value in cex %}
                                <tr>
                                    <td>
                                        {{ value.name }}
                                    </td>
                                    <td>
                                        {{ value.amount }}
                                    </td>
                                    <td>
                                        {{ value.dollar_value }}
                                    </td>
                                    <td>
                                        0
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endblock %}
                    </tbody>
                </table>

            </section>
        </div>
    </div>

{% endblock %}