{% extends 'base.html' %}

{% block content %}
<!--td, th-->

<div class="container">


    <h5>Přehled test</h5>


    <div class="row">
        <div class="col-3 left">
            <section class="size_4_dlazdice">

                <span>Celková dolarová hodnota:</span><br>
                <span class="vetsi_pismo"><b>{{ dollar_value }} $</b></span><br>

            </section>
        </div>

        <div class="col-3 middle-middle">
            <section class="size_4_dlazdice">

            </section>
        </div>

        <div class="col-3 middle-middle">
            <section class="size_4_dlazdice">

            </section>
        </div>

        <div class="col-3 rigth">
            <section class="size_4_dlazdice">

            </section>
        </div>
    </div>


    <div class="row">

        <div class="col-6 left">
            <section class="center">
                <div id="chart" class="size_grafy"></div>

                <script>
                  var options = {
                    chart: {
                      type: 'line'

                    },
                    series: [{
                      name: 'sales',
                      data: [{% for value in values_line_chart %} '{{ value }}', {% endfor %}],
                    }],
                    xaxis: {
                      categories: [{% for value in years_line_chart %} '{{ value }}', {% endfor %}],
                    },
                    title: {
                        text: 'Graf vyvoje portfolia',
                        align: 'left',
                        margin: 10,
                        offsetX: 0,
                        offsetY: 0,
                        floating: false,
                        style: {
                          fontSize:  '14px',
                          fontWeight:  'bold',
                          fontFamily:  undefined,
                          color:  '#263238'
                        },
                    }
                    }

                  var chart = new ApexCharts(document.querySelector("#chart"), options);

                  chart.render();
                </script>
            </section>
        </div>

        <div class="col-6 rigth">
            <section class="center">

                <div id="chart2" class="size_grafy"></div>

                <script>
                    var options = {

                      <!-- series: [44, 55, 41, 17, 15, 1, 5, 6, 8, 7],-->
                      <!-- U cisel nejsou uvozovky '' -->
                      series: [{% for my_token in my_tokens %} {{ my_token.dollar_value }}, {% endfor %}],

                      <!-- labels: ['Apple', 'Mango', 'Orange', 'Watermelon', 'a'],-->
                      <!-- U textu jsou uvozovky '' -->
                      labels: [{% for my_token in my_tokens %} '{{ my_token.name }}', {% endfor %}],

                      title: {
                        text: 'Graf portfolia',
                        align: 'left',
                        margin: 10,
                        offsetX: 0,
                        offsetY: 0,
                        floating: false,
                        style: {
                          fontSize:  '14px',
                          fontWeight:  'bold',
                          fontFamily:  undefined,
                          color:  '#263238'
                        },
                      },

                      chart: {
                      type: 'donut',

                      <!--Sirka grafu-->
                      width: '86%',
                    },
                    responsive: [{
                      breakpoint: 480,
                      options: {
                        chart: {
                          width: 200
                        },
                        legend: {
                          position: 'bottom'
                        }
                      }
                    }]
                    };

                    var chart = new ApexCharts(document.querySelector("#chart2"), options);
                    chart.render();
                </script>
            </section>
        </div>

    </div>

    <div class="row">
        <div class="col-6 left">
            <section>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Pořadí</th>
                        <th>Název tokenu</th>
                        <th>Dolarová hodnota</th>
                        <th>Procenta</th>
                    </tr>
                    </thead>

                    <tbody>
                        {% block content_3 %}
                            {% for token in tokeny %}
                                    <tr>
                                        <td>
                                            {{ token.0 }}
                                        </td>
                                        <td>
                                            {{ token.1 }}
                                        </td>
                                        <td>
                                            {{ token.2 }}
                                        </td>
                                        <td>
                                            {{ token.3 }}
                                        </td>
                                    </tr>
                            {% endfor %}
                        {% endblock %}
                    </tbody>
                </table>
            </section>
        </div>

        <div class="col-6 rigth">
            <section>
                Poznámky:<br>
                <br>
                <br>
                <br>
                <br>
            </section>
        </div>
    </div>
    <div>
        <div class="middle">
            <section>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </section>
        </div>
    </div>
</div>

{% endblock %}