{% extends 'base.html' %}

{% block title %}{{ login }}{% endblock %}

{% block content %}
    <div class="login_form">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        You can <a href="{% url 'signup' %}">sign up here</a>.
    </div>
{% endblock %}


{% comment %}
<div class="login_center">
    <div>
        <h2>Přihlašte se do svého profilu:</h2>
    </div>

    <div class="formular">
        <form action="login.html">
            <div class="prihlaseni">Přihlašovací jméno:
                <input type="text" placeholder="Přihlašovací jméno"><br>
                Heslo:
                <input type="password" placeholder="heslo"><br>
                <input type="submit" value="Přihlásit">
            </div>
        </form>
    </div>
</div>
{% endcomment %}

